# 信贷申请评分卡_A卡案例

主要项目流程：数据获取、数据清洗(特征初筛)、特征工程、模型建立、模型评价、模型优化等

In [1]:
import pandas as pd
import numpy as np

# 1.数据获取

In [2]:
# 数据基本描述：信贷申请数据--42535个样本，144个特征

In [3]:
data = pd.read_excel('LoanStats_2018Q3.xlsx')
data.shape

(42535, 144)

In [4]:
# 特征列表
feature_list = list(data)
print(feature_list)

['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [5]:
df = data.copy()

In [6]:
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1,5000,5000,4975.0,36 months,0.1065,162.87,B,B2,NaN,...,NaN,NaN,Cash,N,NaT,NaN,NaT,NaN,NaN,NaN
1,2,2500,2500,2500.0,60 months,0.1527,59.83,C,C4,Ryder,...,NaN,NaN,Cash,N,NaT,NaN,NaT,NaN,NaN,NaN
2,3,2400,2400,2400.0,36 months,0.1596,84.33,C,C5,NaN,...,NaN,NaN,Cash,N,NaT,NaN,NaT,NaN,NaN,NaN
3,4,10000,10000,10000.0,36 months,0.1349,339.31,C,C1,AIR RESOURCES BOARD,...,NaN,NaN,Cash,N,NaT,NaN,NaT,NaN,NaN,NaN
4,5,3000,3000,3000.0,60 months,0.1269,67.79,B,B5,University Medical Group,...,NaN,NaN,Cash,N,NaT,NaN,NaT,NaN,NaN,NaN

# 2.数据清洗（特征初筛）

In [7]:
# 2.1 申请评分卡使用的数据不能是借款人借款后的信息，需删除18个特征
del_feature_list = ['sub_grade','grade','initial_list_status','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv',
                    'total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d',
                    'last_pymnt_amnt','last_credit_pull_d','collections_12_mths_ex_med','policy_code','disbursement_method']
print(df.shape)
df_01 = df.copy().drop(columns=del_feature_list, axis=1)
df_01.shape

(42535, 144)

(42535, 126)

In [8]:
# 2.2 删除客户隐私的字段:['emp_title','title']
customer_info = ['emp_title','title']
df_02 = df_01.drop(columns=customer_info, axis=1)
df_02.shape

(42535, 124)

In [9]:
# 2.3 去重，删除空行
df_03 = df_02.drop_duplicates('id').dropna(axis=0, how='all')
df_03.shape

(42535, 124)

In [48]:
# 2.4 删除缺失率大于0.95的字段
# is_null = [df_03[i_feature].isnull().sum() for i_feature in list(df_03)]
cols_null = []
for col_null in df_03.columns:
    if df_03[col_null].isnull().sum() > (df_03.shape[0])*0.95:
        cols_null.append(col_null)
print(len(cols_null))
df_04 = df_03.drop(cols_null, axis=1)
df_04.shape

86

(42535, 38)

In [49]:
# 例：唯一值
# 2.5 判断每个特征值的分布，若存在某一个值占比超过95%，则删除(分箱前提)
col_handle = []
for col_ in df_04.columns:
    if df_04[col_].value_counts().max() > df_04.shape[0]*0.95:
        col_handle.append(col_)
print(col_handle)
df_05 = df_04.drop(col_handle, axis=1)
df_05.shape

['pymnt_plan', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens', 'hardship_flag', 'debt_settlement_flag']

(42535, 30)

In [50]:
# 2.6 删除id号
df_06 = df_05.drop('id', axis=1)
df_06.shape

(42535, 29)

In [52]:
# 2.7 查看借款期限，并选出借款36期的样本
print(df_06['term'].value_counts())
df_06['term'] = df_06['term'].replace(' 36 months', 36).replace(' 60 months', 60)
df_final = df_06[df_06['term']==36]
df_final.shape

 36 months    31534
 60 months    11001
Name: term, dtype: int64

(31534, 29)

In [54]:
# def feature_info(df_final):
#     result_info = []
#     for col_i in df_final.columns:
#         result_info.append(df_final[col_i].unique())
#     return result_info

# result_info = feature_info(df_final)
# result_info

In [164]:
# 2.8 数据类型查看与转换
def obj_feature(df_final):
    obj_feature = []
    for obj_f in df_final.columns:
        if df_final[obj_f].dtypes == 'object':
            obj_feature.append(obj_f)
    print(obj_feature)
    return obj_feature

obj_feature = obj_feature(df_final)

# 连续型特征
other_feature = df_final.columns.drop(obj_feature)
len(other_feature)
print(other_feature)

['emp_length', 'home_ownership', 'verification_status', 'loan_status', 'desc', 'purpose', 'zip_code', 'addr_state', 'delinq_2yrs', 'total_acc']
Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'annual_inc', 'issue_d', 'dti', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'next_pymnt_d',
       'pub_rec_bankruptcies'],
      dtype='object')

In [137]:
df_final[obj_feature].head()

,emp_length,home_ownership,verification_status,loan_status,desc,purpose,zip_code,addr_state,delinq_2yrs,total_acc
0,10+ years,RENT,Verified,Fully Paid,Borrower added on 12/22/11 > I need to upgra...,credit_card,860xx,AZ,0,9
2,10+ years,RENT,Not Verified,Fully Paid,NaN,small_business,606xx,IL,0,10
3,10+ years,RENT,Source Verified,Fully Paid,Borrower added on 12/21/11 > to pay for prop...,other,917xx,CA,0,37
5,3 years,RENT,Source Verified,Fully Paid,NaN,wedding,852xx,AZ,0,12
7,9 years,RENT,Source Verified,Fully Paid,Borrower added on 12/16/11 > Downpayment for...,car,900xx,CA,0,4

In [138]:
# 特征值查看
# 1) emp_length--工作年限
df_finals = df_final.copy()
# print(df_finals['emp_length'].value_counts())
print(df_finals['emp_length'].unique())

def emp_length_new(x):
    if x=='< 1 year':
        return 0
    elif x=='1 year':
        return 1
    elif x=='10+ years':
        return 11
    elif str(x)=='nan':
        return np.nan
    else:
        return x.replace(' years', '')
    
df_finals['emp_length'] =df_finals['emp_length'].map(lambda x: emp_length_new(x))
df_finals['emp_length'].unique()
df_finals['emp_length'] = df_finals['emp_length'].apply(pd.to_numeric, errors='coerce')
# print('===================================')

# 2) home_ownership--房产权:类别型特征
# print(df_finals['home_ownership'].value_counts())
# print('===================================')

# 3) verification_status--验证状态:类别型特征
# print(df_finals['verification_status'].value_counts())
# print('===================================')

# 4) loan_status--贷款状态:y
# df_finals['loan_status'].value_counts()
df_finals['loan_status'] = df_finals['loan_status'].copy().map(lambda x: 1 if 'Charged Off' in x else 0)
# print(df_finals['loan_status'].value_counts())
# print('===================================')

# 5) desc--自然语言模块，暂不考虑
df_finals = df_finals.drop('desc', axis=1)
# print('===================================')

# 6) purpose--用途：类别型特征
# print(df_finals['purpose'].value_counts())
# print('===================================')

# 7) zip_code--邮政编码
df_finals = df_finals.drop('zip_code', axis=1)
# print('===================================')

# 8) addr_state--地址状态：类别型特征
# print(df_finals['addr_state'].value_counts())
# print('===================================')

# 9) delinq_2yrs：过去两年逾期次数
# print(df_finals['delinq_2yrs'].value_counts())
set(df_finals['delinq_2yrs'])
df_finals['delinq_2yrs'] = df_finals['delinq_2yrs'].apply(pd.to_numeric, errors='coerce')

# 10) total_acc
set(df_finals['total_acc'])
df_finals['total_acc'] = df_finals['total_acc'].apply(pd.to_numeric, errors='coerce')

['10+ years' '3 years' '9 years' '< 1 year' '4 years' '1 year' '6 years'
 '5 years' '2 years' '7 years' '8 years' nan]

In [175]:
# 类别型特征:home_ownership, verification_status, purpose, addr_state
char_feature = ['home_ownership', 'verification_status', 'purpose', 'addr_state']
# 日期型特征：issue_d，earliest_cr_line，next_pymnt_d
time_feature = ['issue_d', 'earliest_cr_line', 'next_pymnt_d']
df_finals[time_feature] = df_finals[time_feature].apply(pd.to_datetime)
# 连续型特征
num_feature = other_feature.drop(time_feature)
for i_f in num_feature:
    df_finals[i_f] = df_finals[i_f].apply(pd.to_numeric, errors='coerce')
df_finals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31534 entries, 0 to 42534
Data columns (total 27 columns):
loan_amnt                 31534 non-null int64
funded_amnt               31534 non-null int64
funded_amnt_inv           31534 non-null float64
term                      31534 non-null int64
int_rate                  31534 non-null float64
installment               31534 non-null float64
emp_length                30699 non-null float64
home_ownership            31534 non-null object
annual_inc                31530 non-null float64
verification_status       31534 non-null object
issue_d                   31534 non-null datetime64[ns]
loan_status               31534 non-null int64
purpose                   31534 non-null object
addr_state                31534 non-null object
dti                       31534 non-null float64
delinq_2yrs               31504 non-null float64
earliest_cr_line          31505 non-null datetime64[ns]
inq_last_6mths            31505 non-null float64
mths_since_last_delinq    11787 non-null float64
mths_since_last_record    3004 non-null float64
open_acc                  31505 non-null float64
pub_rec                   31505 non-null float64
revol_bal                 31534 non-null float64
revol_util                31448 non-null float64
total_acc                 31504 non-null float64
next_pymnt_d              2439 non-null datetime64[ns]
pub_rec_bankruptcies      30169 non-null float64
dtypes: datetime64[ns](3), float64(16), int64(4), object(4)
memory usage: 6.7+ MB

In [182]:
# 2.9 特征衍生：loan_amnt贷款额度，annual_inc年收入（贷款收入比）
# df_finals[['loan_amnt','annual_inc', 'issue_d', 'earliest_cr_line', 'next_pymnt_d']]
df_finals['pnt_loan_annual'] = df_finals.loan_amnt/df_finals.annual_inc

# 3.数据分布

In [307]:
# 类别型(离散)特征: 每个特征值分布概率值
def data_distributed(df_finals, char_feature):
    rate_feature_all = []
    for col in char_feature:
        result = df_finals[col].value_counts()
        #print('char_feature_name:', col)
        rate_feature = []
        for v_i in range(len(result)):
            rate = result[v_i]/result.sum()
            rate_feature.append(rate)
        rate_feature = pd.Series(rate_feature).to_frame().reset_index().rename(columns={'index':'id', 0: 'rate'})
        result = pd.Series(result).to_frame().reset_index().reset_index().rename(columns={'level_0':'id', 'index':'f_name',
                                                                                          'home_ownership':'value_count'})
        rate_feature = pd.merge(result, rate_feature, on=['id']).drop('id', axis=1)
        rate_feature_all.append(rate_feature)
    return rate_feature_all

rate_feature_all = data_distributed(df_finals, char_feature)
# rate_feature_all

In [309]:
# 连续型特征
df_finals[num_feature]

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,dti,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,pub_rec_bankruptcies
0,5000,5000,4975.0,36,0.1065,162.87,24000.00,27.65,1.0,NaN,NaN,3.0,0.0,13648.0,0.8370,0.0
2,2400,2400,2400.0,36,0.1596,84.33,12252.00,8.72,2.0,NaN,NaN,2.0,0.0,2956.0,0.9850,0.0
3,10000,10000,10000.0,36,0.1349,339.31,49200.00,20.00,1.0,35.0,NaN,10.0,0.0,5598.0,0.2100,0.0
5,5000,5000,5000.0,36,0.0790,156.46,36000.00,11.20,3.0,NaN,NaN,9.0,0.0,7963.0,0.2830,0.0
7,3000,3000,3000.0,36,0.1864,109.43,48000.00,5.35,2.0,NaN,NaN,4.0,0.0,8221.0,0.8750,0.0
11,12000,12000,12000.0,36,0.1269,402.54,75000.00,10.78,0.0,NaN,NaN,12.0,0.0,23336.0,0.6710,0.0
12,9000,9000,9000.0,36,0.1349,305.38,30000.00,10.08,1.0,NaN,NaN,4.0,0.0,10452.0,0.9170,0.0
13,3000,3000,3000.0,36,0.0991,96.68,15000.00,12.56,2.0,NaN,NaN,11.0,0.0,7323.0,0.4310,0.0
14,10000,10000,10000.0,36,0.1065,325.74,100000.00,7.06,2.0,NaN,NaN,14.0,0.0,11997.0,0.5550,0.0
15,1000,1000,1000.0,36,0.1629,35.31,28000.00,20.31,1.0,NaN,NaN,11.0,0.0,6524.0,0.8150,0.0
16,10000,10000,10000.0,36,0.1527,347.98,42000.00,18.60,2.0,61.0,NaN,14.0,0.0,24043.0,0.7020,0.0
17,3600,3600,3600.0,36,0.0603,109.57,110000.00,10.52,0.0,NaN,NaN,20.0,0.0,22836.0,0.1600,0.0
18,6000,6000,6000.0,36,0.1171,198.46,84000.00,18.44,0.0,8.0,NaN,4.0,0.0,0.0,0.3773,0.0
19,9200,9200,9200.0,36,0.0603,280.01,77385.19,9.86,0.0,NaN,NaN,8.0,0.0,7314.0,0.2310,0.0
21,21000,21000,21000.0,36,0.1242,701.73,105000.00,13.22,0.0,NaN,NaN,7.0,0.0,32135.0,0.9030,0.0
22,10000,10000,10000.0,36,0.1171,330.76,50000.00,11.18,0.0,NaN,NaN,8.0,0.0,10056.0,0.8240,0.0
23,10000,10000,10000.0,36,0.1171,330.76,50000.00,16.01,0.0,NaN,NaN,6.0,0.0,17800.0,0.9180,0.0
24,6000,6000,6000.0,36,0.1171,198.46,76000.00,2.40,1.0,NaN,NaN,7.0,0.0,5963.0,0.2970,0.0
25,15000,15000,15000.0,36,0.0991,483.38,92000.00,29.44,0.0,NaN,NaN,8.0,0.0,13707.0,0.9390,0.0
26,15000,15000,8725.0,36,0.1427,514.64,60000.00,15.22,1.0,NaN,NaN,7.0,0.0,5872.0,0.5760,0.0
28,4000,4000,4000.0,36,0.1171,132.31,106000.00,5.63,0.0,18.0,NaN,12.0,0.0,6110.0,0.3770,0.0
29,8500,8500,8500.0,36,0.1171,281.15,25000.00,12.19,0.0,NaN,NaN,8.0,0.0,6441.0,0.5910,0.0
30,4375,4375,4375.0,36,0.0751,136.11,17108.00,20.34,0.0,NaN,NaN,6.0,0.0,11210.0,0.8690,0.0
31,31825,31825,31825.0,36,0.0790,995.82,75000.00,14.03,0.0,NaN,NaN,12.0,0.0,23151.0,0.2740,0.0
33,5000,5000,5000.0,36,0.0890,158.77,24044.00,11.93,0.0,45.0,NaN,8.0,0.0,2224.0,0.2930,0.0
34,7000,7000,7000.0,36,0.1596,245.97,34000.00,6.35,1.0,NaN,NaN,6.0,0.0,6113.0,0.6050,0.0
35,12400,12400,12400.0,36,0.1065,403.91,41000.00,11.80,2.0,NaN,NaN,9.0,0.0,11095.0,0.5720,0.0
36,10800,10800,10800.0,36,0.0991,348.03,55596.00,5.50,0.0,NaN,NaN,7.0,0.0,2535.0,0.1330,0.0
37,15000,15000,15000.0,36,0.0790,469.36,45000.00,8.48,0.0,NaN,NaN,7.0,0.0,6704.0,0.5040,0.0
38,6000,6000,6000.0,36,0.1242,200.50,36852.00,10.62,1.0,NaN,NaN,7.0,0.0,7310.0,0.6650,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42505,6725,6725,825.0,36,0.1312,226.98,60000.00,13.16,9.0,0.0,38.0,10.0,1.0,5513.0,0.8890,NaN
42506,2000,2000,1025.0,36,0.1280,67.20,10000.00,3.48,0.0,4.0,0.0,2.0,0.0,571.0,0.6190,NaN
42507,6000,6000,1200.0,36,0.1312,202.51,12000.00,4.40,9.0,0.0,0.0,15.0,0.0,5251.0,0.4930,NaN
42508,5350,5350,625.0,36,0.1312,180.57,4000.00,15.00,1.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
42509,1900,1900,900.0,36,0.0964,61.00,100000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42510,10000,10000,350.0,36,0.1470,345.18,50000.00,7.22,0.0,1.0,0.0,14.0,0.0,10025.0,0.8500,NaN
42511,2000,2000,1275.0,36,0.0712,61.87,150000.00,5.60,0.0,0.0,0.0,7.0,0.0,150786.0,0.0220,NaN
42512,6000,6000,650.0,36,0.1059,195.28,20000.00,12.90,4.0,45.0,0.0,5.0,0.0,13660.0,0.6600,NaN
42513,4400,4400,1400.0,36,0.0964,141.25,30000.00,3.72,0.0,0.0,0.0,4.0,0.0,3493.0,0.6350,NaN
42514,1200,1200,500.0,36,0.0901,38.17,36000.00,3.27,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42515,5000,5000,375.0,36,0.1122,164.23,28000.00,3.51,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42516,1400,1400,475.0,36,0.1091,45.78,40000.00,8.61,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42517,1000,1000,625.0,36,0.1407,34.21,25000.00,16.27,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42518,5000,5000,300.0,36,0.0775,156.11,300000.00,5.38,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42519,2500,2500,225.0,36,0.0743,77.69,66624.00,10.36,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42520,3000,3000,250.0,36,0.0743,93.23,80000.00,0.39,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42521,2600,2600,575.0,36,0.0838,81.94,6500.00,6.46,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42522,1000,1000,625.0,36,0.0712,30.94,50000.00,1.10,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42523,6450,6450,0.0,36,0.1122,211.85,32000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42524,1275,1275,0.0,36,0.1249,42.65,40000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42525,10500,10500,275.0,36,0.1122,344.87,60000.00,19.50,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42526,3000,3000,125.0,36,0.0901,95.42,35000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42527,3000,3000,0.0,36,0.0933,95.86,20000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42528,2000,2000,225.0,36,0.0996,64.50,6000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42529,6500,6500,0.0,36,0.0964,208.66,20000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42530,3500,3500,225.0,36,0.1028,113.39,180000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42531,1000,1000,0.0,36,0.0964,32.11,12000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42532,2525,2525,225.0,36,0.0933,80.69,110000.00,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42533,6500,6500,0.0,36,0.0838,204.84,NaN,4.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
42534,5000,5000,0.0,36,0.0775,156.11,70000.00,8.81,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN